* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.grid-container {
    display: grid;
    grid-template:
        "header"auto "main"1fr "footer"auto;
}

.header {
    grid-area: header;
    padding: 20px 20px;
    background-color: black;
    align-items: center;
    justify-content: space-around;

}

.logo {
    height: 80px;
}

nav {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #FAEBD7;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.main {
    grid-area: main;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/cerveza.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.footer {
    grid-area: footer;
    width: 100%;
    color: #fff;
    background-color: #111;
}

.footer-content {
    display: flex;
    min-height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
}

.footer p {
    font-size: 12px;
}

.footer-bottom {
    background-color: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

nav .fa-solid {
    display: none;
}

/* Productos.html */

.cervezas {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: white;
    font-size: 36px;
    font-weight: 600;
}

p {
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.beer-column {
    flex-basis: 31%;
    background: #FAEBD7;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.description {
    color: black;
}

.beer-column:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links {
        position: fixed;
        background: black;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -100%;
        text-align: left;
        z-index: 9999;
        transition: 1s;
    }

    nav .fa-solid {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .row {
        flex-direction: column;
    }
}